.banner-wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.banner-content {
	display: flex;
	flex-direction: row;
	height: 800px;
}

.banner-image {
	background-image: url('../../assets/images/4298855.jpg');
	flex: 0.7;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.banner-product-description {
	flex: 0.4;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 0 2em;
}

.product-name {
	color: #1469e7;
	font-size: 3em;
	font-weight: 900;
}

.product-desc {
	font-size: 2em;
	margin-top: 1em;
	font-weight: 700;
}

.product-desc-2 {
	color: #000000;
	margin-top: 0.5em;
	font-weight: 500;
}

.banner-product-description-mobile {
	display: none;
}

@media (max-width: 799px) {
	.banner-content {
		height: 600px;
	}
}

@media (max-width: 1149px) {
	.banner-image {
		flex: 1;
		display: flex;
		background-size: cover;
	}

	.banner-product-description-mobile {
		flex: 1;
		background: #ffffffd6;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.banner-product-description {
		display: none;
	}

	.product-desc {
		font-size: 1.7em;
		margin: 1em 0.5em 0em 0.5em;
	}

	.product-desc-2 {
		margin: 0.5em 0.5em 0em 0.5em;
	}
}
