.vision-wrapper {
	display: flex;
	flex-direction: column;
}

.vision-container {
	margin-top: 6em;
	display: flex;
	padding: 0 19em;
	align-items: center;
	justify-content: center;
}

.each-idea {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	height: -webkit-fill-available;
}

.idea-title {
	text-align: center;
	font-size: 1.8em;
	font-weight: 600;
	color: var(--primary-bg);
	border-bottom: 2px solid #dedede;
	margin-bottom: 2em;
}

.idea-icon {
	height: 200px;
	width: 200px;
	margin-bottom: 2em;
}

.vision-content ul li {
	margin: 0.5em 0;
}
.vm-devider {
	border: 0.5px solid #dedede;
	height: 70%;
}

@media screen and (max-width: 999px) {
	.vision-container {
		flex-direction: column;
		padding: 0 2em;
	}
	.idea-icon {
		margin-top: 4em;
		align-items: center;
	}

	.mission {
		margin-top: 2em;
	}
	.vm-devider {
		height: 0px;
		margin-top: 2em;
		border: 0.5px solid #dedede;
		width: 70%;
	}
	.vision-content ul {
		padding-left: 1em;
	}

	.idea-title {
		margin-bottom: 0;
	}
}
