.footer-wrapper {
	display: flex;
	background: var(--primary-bg);
	justify-content: space-between;
	padding: 2em 5em;
	color: #e6eff7;
	align-items: center;
}

.footer-logo {
	font-weight: 800;
	font-size: 1.5em;
}

@media screen and (max-width: 699px) {
	.footer-wrapper {
		flex-direction: column;
		padding: 1em 2em;
	}
	.footer-logo {
		margin-top: 1em;
	}
}
